# Python
.mypy_cache/
/.python-version
/.pytype/
/dist/
/docs/_build/
/src/*.egg-info/
__pycache__/
.*venv*

# VSCode
.vscode/

# MacOS
.DS_Store

*.png
*pkl
/workspace
/build
results/experiment3/intermediate/aggregated_stat_fid.csv
results/experiment3/intermediate/normalized_stat_fid.csv